@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-weight: bolder;
      font-size: 1.5rem;
      color: #fff;
      margin-left: 1rem;
    }
    ul {
      display: flex;
      li {
        margin-right: 1rem;

        a {
          color: #fff;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.5rem;
          font-weight: bold;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;

  .search {
    width: 35vw;
    height: 2.5rem;
    border-radius: 4rem;
    border: none;
    margin-top: 1.5rem;
    padding: 0 0.8rem;
    font-size: 1.3rem;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.158),
      4px 4px 10px rgba(0, 0, 0, 0.685);
    &:focus {
      box-shadow: none;
      border-color: black;
      outline: none;
    }
  }
}
@media (max-width: 500px) {
  .form {
    .search {
      width: 70vw;
    }
  }
}
