@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  transition:all .3s ease;
}

.movies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-weight: bolder;
  margin-left: 2rem;
}
